*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #b8c4f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 1400px;
    height: 645px;
    background-image: url("culto.png");
    background-size: cover;
    background-position: center;
    color: crimson;
    padding: 20px;

    display: flex;
    flex-direction: column;
}

.topo{
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
}

.logo{
    width: 70px;
}

nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin: 0 15px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

nav ul li:hover{
    color: white;
}

.conteudo{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.conteudo h2{
    font-size: 50px;
    font-style: italic;
    margin-bottom: -10px;
}

.conteudo h1{
    font-size: 100px;
    margin-bottom: 30px;
}

button{
    padding: 15px 50px;
    background-color: black;
    color: crimson;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

button:hover{
    background-color: crimson;
    color: black;
}
